.sidebar {
  flex: 1;
  height:100vh;
  position:sticky;
  top:0;
  
  padding:10px;

  background-color: var(--color-accent-1);
}

.siderow .rowblock {
  display: flex;
  height: 50px;
  list-style-type: none;
  padding:10px;


  width: 90%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  //margin: 5px 10px 5px 10px;
  margin-top:5px;

  border-radius: 8px;
}

.siderow .active {
  display: flex;
  height: 50px;
  list-style-type: none;
  background-color: #0070f3;
  width: 90%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  //margin: 5px 10px 5px 10px;
  border-radius: 8px;
  padding: 10px;
  margin-top:5px;
  
}

.siderow #icon {
  flex: 30%;

  place-items: center;
  margin: 10px;
}

.siderow .rowblock:hover {
  cursor: pointer;
  background-color: #0071f350;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.siderow #title {
  flex: 70%;
  text-overflow:ellipsis;
  overflow: hidden;
}

.rushname {
  font-size: 30px;

  margin: 10px;

  font-weight: bold;
}

@media screen and (max-width: 1000px) {
  .siderow #title {
    display: none;
  }

  .rushname {
    font-size: 10px;
  }

  .siderow #icon {
    flex: 100%;
  
    text-align:center;
  }
}

/* .card {
    display: flex;
    background-color: var(--color-accent-2);
    margin: 5px;
    padding: 4px;
} */
