.card {

   
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;

    
  
    background-color: #2e3235;
   
    
}

.upper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


}

.img {
    border-radius: 10px;
    max-width: 300%;
    height: auto;
    margin: 10px;
    

}
.text {
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
    
}

.button {
    background-color: #0070F3;
    padding: 0.8rem;
    font-size: 14px;
    font-weight: 700;
    display: block;
    width: 100%;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 40px;
    
}

