



.container {

    position: sticky;
    top: 0;
    
    background-color:  rgba(0, 0, 0, 0.61);
    backdrop-filter: blur(5px);
    
    height:56px;
  
   
    //z-index: 100;
    /* display: flex;
    justify-content: space-between;
    align-items: center;
     */
   

}

.wrapper{
    display:flex;
    align-items:center;
    height:100%;
    padding:0p 20px;
    justify-content:flex-end;
    position:relative;
}


/* .cartbox {
    display: flex;
    flex-direction: row;
    background-color: 0070F3#;
    border-radius: 8px;
    padding: 5px;
    height: auto;
   
    
} */
/* .cartParent {
    display: flex;
    align-items: center;
    border-radius: 2vh;
    margir
} */
.cartBtn {
    margin: 2vh
    
}

.cartText {
    margin: 0 1vh
    
}
.textInput {
    
    
}